<ion-header>
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="reservas">

  <ion-list>
    <ion-item *ngFor="let reserva of reservas" type="button" (click)="MostrarStatus(reserva.id)">
        <ion-img *ngIf="reserva.oficina.imagenes[0]" class="image" src="{{url + 'oficina/image/' + reserva.oficina.imagenes[0].nombre_imagen}}"></ion-img>
        <div class="contenido-office">
          <p class="bold">Renta de oficina en {{reserva.oficina.establecimiento}}</p>
          <div class="contenido-text">
            <ion-badge color="primary">Rentada</ion-badge>
            <p *ngIf="reserva.fechaInicio != null" class="gray">{{reserva.fechaInicio | date: 'mediumDate'}} a {{reserva.fechaFinal | date: 'mediumDate'}}</p>
            <p *ngIf="reserva.diaReserva != null" class="gray">{{reserva.diaReserva | date: 'mediumDate'}} de {{reserva.horaInicio | date: 'HH'}}:00 a {{reserva.horaFinal | date: 'HH'}}:00</p>
          </div>
        </div>
    </ion-item>

  </ion-list>
</ion-content>
