.image{
    max-width: 100px;
}

.contenido-text{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.contenido-office{
    display: block;
}

.contenido-office p{
    margin: 0px;
    padding: 10px;
    
}

.bold{
    font-weight: bold;
}

.gray{
    color: rgb(170, 162, 162);
}