
<ion-content class="ion-padding" *ngIf="identity">
  <div class="header-perfil">
    <ion-avatar>
      <img src="../../../assets/perfil.png">
    </ion-avatar>
    <div class="header-content">
      <ion-label class="nombre-perfil">{{identity.nombre | titlecase}} {{identity.apellidos | titlecase}}</ion-label>
      <br>
      <a>Mi perfil</a>
    </div>
  </div>

  <div class="perfil-content">
    <div class="configuracion">
      <ion-label class="title">Configuracion de la cuenta</ion-label>

      <ion-item (click)="userEdit()">
        <ion-label>Informacion Personal</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Pagos y cobros</ion-label>
        <ion-icon name="cash"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Mensajes</ion-label>
        <ion-icon name="notifications"></ion-icon>
      </ion-item>
    </div>

    <ion-label class="title">Usuario</ion-label>

    <ion-item>
      <ion-label>Publica tu oficina</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Mas informacion sobre publicar tu oficina</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Ayuda</ion-label>
      <ion-icon name="help"></ion-icon>
    </ion-item>

    <ion-item type="button" (click)="logout()">
      <ion-label>Cerrar Sesion</ion-label>
    </ion-item>

    
    
  </div>
</ion-content>
