<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rules-office"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="bold">Revisar y pagar</h2>

  <div class="header-office section">
    <div class="informacion-oficina">
      <p class="bold">Oficina completa / Hotel san angel</p>
      <p class="date">01 de sep - 01 de oct</p>
    </div>
    <ion-img class="imagen-oficina"  src="../../assets/oficina.jpg"></ion-img>
  </div>

  <div class="section">
    <div class="contenido-precios">
      <div class="precios">
        <ion-label>$2,000 por 1 mes</ion-label>
        <ion-label>$2,000</ion-label>
      </div>
  
      <div class="precios border-bottom">
        <ion-label>Comisión por servicio</ion-label>
        <ion-label>$360</ion-label>
      </div>
  
      <div class="precios">
        <ion-label>Total(MXM)</ion-label>
        <ion-label>$2,360</ion-label>
      </div>
    </div>
  </div>

  <div class="section metodo-pago">
    <ion-img class="img-pago" src="../../assets/mas.svg"></ion-img>
    <ion-label>Agregar metodo de pago</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </div>

  <div class="texto-politicas">
  <ion-text >Acepto las reglas acordadas de la oficina, como tambien pagar el importe total indicado, que inclute las comisiones por el servicio.</ion-text>
  </div>

  <ion-button expand="full" [routerLink]="['/credit-card-details']">Confirma y paga</ion-button>
</ion-content>
