input {
   border: white;
   padding: 10px;
   margin: 5px;
   width: 100% !important;
   background-color: rgb(210, 84, 214);


}

.btn-buscar{
    font-size: 30px !important;
    padding: 15px;
    color: rgb(210, 84, 214);
}