input {
    --placeholder-color: initial;
    --placeholder-font-style: initial;
    --placeholder-font-weight: initial;
    --placeholder-opacity: .5;
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --background: transparent;
    --color: initial;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    background: var(--background);
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    z-index: 2;
    border-width: 0px;

}