<ion-header class="ion-no-border header">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <!-- <ion-input type="text" placeholder="¿En que ciudad estas buscando?" autocomplete="on"></ion-input> -->

  <input #inputCiudad list="browsers"  placeholder="¿En que ciudad estas buscando?" autofocus="true" (keypress)="buscar($event)">

  <datalist id="browsers" >
      <option *ngFor="let ciudad of ciudades" value="{{ciudad.nombre_ciudad}}"></option>   
  </datalist>

  <ion-icon class="btn-buscar" slot="end" (click)="buscar2()" name="search"></ion-icon>

 
  </ion-toolbar>
</ion-header>


<ion-content>
    

</ion-content>
