<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/calendar"></ion-back-button>
    </ion-buttons>
    <ion-title>Selecciona la fecha y horas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form #fechasForm="ngForm" (ngSubmit)="onSubmit(fechasForm)" class="contenido-form">

    <div>
      <ion-item>
        <ion-label>Selecciona el dia</ion-label>
        <ion-datetime required displayFormat="DD MMM YYYY" name="dia" #dia="ngModel" [(ngModel)]="horas.dia" placeholder="¿Que dia rentaras?"></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label>Hora de inicio</ion-label>
        <ion-datetime required displayFormat="HH:mm" minuteValues="0"  name="horaInicio" #horaInicio="ngModel" [(ngModel)]="horas.horaInicio" placeholder="¿A que horas llegaras?"></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label>Hora final</ion-label>
        <ion-datetime required displayFormat="HH:mm" minuteValues="0" name="horaSalida" #horaSalida="ngModel" [(ngModel)]="horas.horaSalida" placeholder="¿A que horas te iras?"></ion-datetime>
      </ion-item>
      
      <p *ngIf="status" class="status">{{this.status}}</p>
  </div>

  <ion-button fixed="bottom" [disabled]="fechasForm.invalid" type="submit"  expand="full">Buscar</ion-button>
</form>
</ion-content>

