<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="search"></ion-icon>
      <ion-label>Explora</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offices-save">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Guardados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Mensaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

  
</ion-tabs>
