<ion-header>
  <ion-toolbar *ngIf="oficina">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/office-pay/{{oficina.id}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<form action="/" method="post" id="payment-form">
    
  <div class="form-row">
    <img src="../../../assets/tarjeta.svg" alt="">
    <h3>Tarjeta de Debito y Credito</h3>
    <div id="card-element">
     
    </div>

    
    <div id="card-errors" role="alert"></div>
  </div>

  <ion-item>
    <ion-label class="bold">Total a pagar: </ion-label>
    <ion-label class="bold">${{total}}</ion-label>
  </ion-item>

<button ion-button block large class="boton">PAGAR AHORA</button>
  
</form>
</ion-content>
