<ion-header>
  <ion-toolbar>
    <ion-title>Guardados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card type="button" [routerLink]="['/office']"  >
    <ion-slides pager="true">
      <ion-slide>
        <ion-img src="../../assets/oficina.jpg"></ion-img>
      </ion-slide>
    </ion-slides>
    
    <ion-card-header>Oficina Completa - Hermosillo</ion-card-header>
    <ion-card-content><span class="precio">2.000$</span> por mes</ion-card-content>
  </ion-card>
</ion-content>
