img{
    width: 150px;
}

.registro{
    display: inline;
}

.error{
    color: red;
    font-size: 15px;
}

.registrado-correcto{
    color: green;
    font-size: 20px;
}


.logo-texto
{
    background-color: rgb(210, 84, 214);
    position: relative;
    
}

.logo-texto h1
{
    color: white;
}

.wave
{
   
    min-width: 100%;
}


ion-grid{
    padding: 0px !important;
}

.formulario-login{
    padding: 5px;
}

.condiciones{
    font-size: 12px;
}