<ion-header>
  <ion-toolbar>
    <ion-title class="title">Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="primary"
                      (click)="mensajesUsuario()">
            Usuario
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="primary"
                    (click)="mensajesArrendador()">
          Arrendador
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>

  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>
      <div *ngIf="usuarios.length > 0" >
        <ion-item class="mensaje" button *ngFor="let usuario of usuarios" (click)="mostrarMensaje(usuario.id)">
          <ion-avatar slot="start">
            <img src="../../../assets/mensaje-usuario.png" alt="">
          </ion-avatar>
          <ion-label>
            <p>Reservaste una oficina</p>
            <p>fecha: {{usuario.updated_at | date}}</p>
            <p>Ver informacion</p>
          </ion-label>
        </ion-item>
       
      </div>

      <div *ngIf="usuarios.length == 0">
        <ion-label class="subtitle">No has reservado ninguna oficina</ion-label>
        <br>
        <ion-text>Cuando reserves una oficina la informacion del arrendador aparecera aqui.</ion-text>
      </div>
  
    </ion-slide>



    <ion-slide>
      <div *ngIf="arrendadores.length > 0">
        <ion-item class="mensaje" button *ngFor="let arrendador of arrendadores "(click)="mostrarMensajeArrendador(arrendador.id)">
          <ion-avatar slot="start">
            <img src="../../../assets/mensaje-arrendador.png" alt="">
          </ion-avatar>
          <ion-label>
            <p>Hicieron una reservacion</p>
            <p>fecha: {{arrendador.updated_at | date}}</p>
            <p>Ver informacion</p>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="arrendadores.length == 0">
        <ion-label class="subtitle">No tienes reservaciones en tus oficinas</ion-label>
        <br>
        <ion-text>Cuando un usuario reserve una de tus oficinas la informacion aparecera aqui.</ion-text>
      </div>
    </ion-slide>


  </ion-slides>


</ion-content>
