<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>

    <button class="btn-guardar" (click)="onSubmit(usuarioForm)" slot="end">Guardar</button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="usuario" class="ion-padding">
  <h2 class="title">Edita tu informacion personal</h2>

  <form #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo Electronico</ion-label>
    <ion-input name="email" #email="ngModel" [(ngModel)]="usuario.email" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Celular</ion-label>
    <ion-input name="number" #email="ngModel" [(ngModel)]="usuario.celular" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Domicilio</ion-label>
    <ion-input name="domicilio" #domicilio="ngModel" [(ngModel)]="usuario.domicilio" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Foto de perfil</ion-label>
    <ion-input type="file" (change)="avatarUpload($event)"></ion-input>
  </ion-item>

</form>

 

  

 


</ion-content>
