
<div *ngIf="oficinas">
<ion-header *ngIf="scroll > 150">
  <ion-toolbar *ngIf="oficinas">
    <div class="header-oficinas">
      <div class="header-title">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-label class="title-country">{{ciudad}}</ion-label>
      </div>

      <div>
        
        <button class="filtro" (click)="filter()">
          <ion-icon class="icon-options margin-right" name="options"></ion-icon>
        </button>
      </div>
  </div>
  </ion-toolbar>
</ion-header>
</div>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="contenedor-mapa">
    <div id='map'></div>
      
    <div class="buscador" *ngIf="scroll <= 150 || scrollAct == 1" slot="fixed">
      <a [routerLink]="['/tabs/home']" class="link">
        <ion-icon name="arrow-back"></ion-icon>
      </a>

      <ion-label *ngIf="oficinas" class="title-country">{{ciudad}}</ion-label>

        <button class="calendario" >Fechas</button>

      <button class="filtro" (click)="filter()" >
        <ion-icon class="icon-options" name="options"></ion-icon>
      </button>
      
    </div>
    

  </div>
      
  

  <div class="ion-padding" *ngIf="oficinas">
    <div class="numero-oficinas"> 

      <ion-label>{{oficinasObtenidas}} oficinas encontradas</ion-label>
      
    </div>

   <div>
      <p class="precioRango">De MXM ${{this.minPrecio}} a MXM ${{this.maxPrecio}}</p>
    <ion-item>
      <ion-range (ionChange)="rangoPrecio($event)" step="5" dualKnobs="true" min="10" max="500" color="primary">
        <ion-label slot="start">10$</ion-label>
        <ion-label slot="end">500$</ion-label>
      </ion-range>
      <ion-button (click)="actualizarOficinas()">Actualizar</ion-button>
    </ion-item>
  </div>

    <div *ngIf="oficinas.length > 0" class="contenido-oficinas">
      <ion-card *ngFor="let oficina of oficinas" type="button"  [routerLink]="['/office/', oficina.id]"  >
        <ion-slides pager="true">
          <ion-slide *ngFor="let image of oficina.imagenes">
            <ion-img src="{{url + 'oficina/image/' + image.nombre_imagen}}"></ion-img>
          </ion-slide>
        </ion-slides>
        
        <ion-card-header>{{oficina.nombre}} - {{oficina.ciudad}}</ion-card-header>
        <ion-card-content *ngIf="dias"><span class="precio">{{oficina.precio_dia}}$</span> por dia</ion-card-content>
        <ion-card-content *ngIf="horas"><span class="precio">{{oficina.precio_hora}}$</span> por hora</ion-card-content>
      </ion-card>

    </div>

    <div *ngIf="oficinas.length == 0">
      <h2>No se encontraron oficinas en {{ciudad}}</h2>
    </div>
  </div>
</ion-content>
