<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="oficina">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/office/{{oficina.id}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="title">Revisa las reglas de la oficina</h2>

  <ion-item *ngFor="let regla of reglas">
    <ion-thumbnail slot="start">
      <img src="../../../assets/no-stopping.svg">
    </ion-thumbnail>
    <ion-label>{{regla.nombreRegla}}</ion-label>
  </ion-item>



 
</ion-content>

<ion-footer>
  
  <ion-toolbar>
    <div class="footer" *ngIf="oficina">
      <ion-label *ngIf="this.dias" class="footer-precio"> <span class="precio"> ${{oficina.precio_dia}}</span> por dia</ion-label>

      <ion-label *ngIf="this.horas" class="footer-precio"> <span class="precio"> ${{oficina.precio_hora}}</span> por hora</ion-label>

      <ion-button shape="round" class="btn-reserva" type="button" [routerLink]="['/office-pay', oficina.id]">De acuerdo</ion-button>
    </div>
</ion-toolbar>

</ion-footer>
