




<ion-content  >
  
  <div class="contenedor-imagen" *ngIf="oficina">
    <ion-slides pager="true">
      <ion-slide *ngFor="let image of oficina.imagenes">
        <ion-img class="image" src="{{url + 'oficina/image/' + image.nombre_imagen}}"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>

 
   
    <!--
    <button (click)="regresar()" class="button" slot="fixed">
      <ion-icon name="arrow-back" ></ion-icon>
    </button>
    -->
  
  
    <div class="ion-padding">
      <div *ngIf="oficina">
        
      <div class="border-bottom">
        <ion-toolbar class="">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/home"></ion-back-button>
          </ion-buttons>
          <div class="contenedor-guardar">
            
            <h2 class="title">{{oficina.nombre}} <span *ngIf="oficina.establecimiento">/ {{oficina.establecimiento}}</span></h2>

            <ion-icon *ngIf="identity == null" (click)="login()" class="icon-guardar" name="heart-outline"></ion-icon>
            
            <ion-icon *ngIf="existe == true && identity != null" (click)="guardarOffice()" class="icon-guardar" name="heart-outline"></ion-icon>

            <ion-icon *ngIf="existe == false && identity != null" (click)="EliminarOficinaGuardada()" class="icon-guardar" name="heart"></ion-icon>
           
            
          </div>
        </ion-toolbar>
        
        <p class="lugar">{{oficina.ciudad}}, {{oficina.estado}}, {{oficina.pais}}</p>
      </div>
      <hr>
      
      <div class="office-description border-bottom">
        <ion-label class="margin-bottom"> {{ oficina.descripcion | slice: 0: oculto}}...</ion-label>
        <hr>
        <ion-label color="primary" (click)="oculto = 5000" *ngIf="oculto !== 5000">Mostrar mas</ion-label>
        <ion-label color="primary" (click)="oculto = 150" *ngIf="oculto == 5000">Mostrar menos</ion-label>
        
      </div>
      <hr>

      <h3>Servicios</h3>

      <div *ngFor="let servicio of servicios let i = index">
        <ion-item *ngIf="i < 2" >
          <ion-label >{{servicio.nombreServicio}}</ion-label>
          <ion-icon  name="wifi"></ion-icon>
        </ion-item>
      </div>
      <ion-button (click)="MostrarServicios()" fill="outline" expand="block" color="white" class="btn-servicios">Mostrar los {{numeroServicios}} servicios</ion-button>
    
    <div>
      <h3>Reglas</h3>
      <div *ngFor="let regla of reglas let i = index">
        <ion-item *ngIf="i < 2" >
          <ion-label >{{regla.nombreRegla}}</ion-label>
          <img class="img-regla" src="../../../assets/no-stopping.svg">
        </ion-item>
      </div>
      <ion-button (click)="MostrarReglas()" fill="outline" expand="block" color="white" class="btn-servicios">Mostrar las {{numeroReglas}} reglas</ion-button>
    </div>

    </div>
      <h3>Ubicacion</h3>
      <p>Hermosillo, Sonora, Mexico</p>
      <div id='map2'></div>
      
    </div>

    <ion-item  *ngIf="identity != null">
      <ion-label>Acepto terminos y condiciones</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="condiciones" ></ion-checkbox>
    </ion-item>
    
</ion-content>

<ion-footer>
  
    <ion-toolbar>
      <div class="footer" *ngIf="oficina">
        <ion-label *ngIf="this.dias" class="footer-precio"> <span class="precio"> {{oficina.precio_dia}}$</span> por dia</ion-label>

        <ion-label *ngIf="this.horas" class="footer-precio"> <span class="precio"> {{oficina.precio_hora}}$</span> por hora</ion-label>

        <ion-button [disabled]="condiciones != true" *ngIf="statusReserva == 'disponible' && identity != null" shape="round" class="btn-reserva" type="button" [routerLink]="['/office-pay', oficina.id]">Reservar</ion-button>

        <ion-button *ngIf="identity == null" shape="round" class="btn-reserva" type="button" [routerLink]="['/login']">Iniciar Sesion</ion-button>
        <p *ngIf="statusReserva == 'ocupada'">Oficina ocupada</p>
      </div>
  </ion-toolbar>
  
</ion-footer>
