<ion-header >
  <ion-toolbar class="header">
    <button class="cerrar" (click)="cerrarPage()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="content-info">
    <ion-img src="../../assets/thanks.png"></ion-img>
  <ion-label class="informacion"> <span class="informacion-title">Pago recibido con exito</span>, Gracias por tu confianza en nosotros, en un momento te estara llegando por correo electronico
    las indicaciones para ponerte en contacto con el Anfitrion.
  </ion-label>
  </div>
</ion-content>
